<!DOCTYPE html>
<html ng-app="demoModule">
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="js/imx-input/angular-imx-input.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/imx-input/angular-imx-input.js"></script>
    <title></title>
</head>
<body ng-controller="demoCtrl">
    <imx-input ng-model="demo"><input ng-model="demo"></imx-input>
    <script>
        angular.module('demoModule', ['imx.Input'])
                .controller('demoCtrl', ['$scope', function ($scope) {

                }]);
    </script>
</body>
</html>