<!DOCTYPE html>
<html ng-app="demoModule">
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="js/imx-input/angular-imx-input.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/imx-input/angular-imx-input.js"></script>
    <title></title>
</head>
<body ng-controller="demoCtrl">
<form name="myForm">
    <input ng-model="data.demo">
    <imx-input-text ng-model="data.demo" placeholder="abc" label="def"></imx-input-text>
    <imx-select label="Gender" placeholder="Select your gender" ng-model="data.demo2" required>
        <imx-option value="male">Male</imx-option>
        <imx-option value="female">Female</imx-option>
        <imx-option value="other">Other</imx-option>
    </imx-select>
    <imx-input-text ng-model="data.name" placeholder="Enter your name" label="Name" ng-required="true" name="tst"></imx-input-text>
    </form>
    <div>
        {{myForm.tst.$valid}} {{myForm.$valid}}
    </div>
    <script>
        angular.module('demoModule', ['imx.Input'])
                .controller('demoCtrl', ['$scope', function ($scope) {
                    $scope.data = {
                        demo : ""
                    };
                }]);
    </script>
</body>
</html>