@import "functions.less";

.slider(@lineColor, @fadedLineColor, @fadedLineColorLighten, @buttonColor, @buttonBorderColor, @lineWidth, @buttonLineWidth, @height) {
  .imx-slider-wrapper {
    .imx-input-wrapper {
      .imx-slider-content {
        position: relative;

        height: @height;
        .un-selectable();
        .imx-slider-button {
          .circle(ceil(@height/2));
          border: @buttonLineWidth @buttonBorderColor solid;
          background-color: @buttonColor;
          position: relative;
          top: floor((-1 * @height) / 2);
          left: 0px;
          &:hover {
            border-color: @lineColor;
          }
          &.imx-animated {
            .animated(300ms);
          }
        }

        .imx-slider-line-common(@color1,@color2) {
          border: none;
          border-top: @lineWidth/2 @color1 solid;
          background-color: @color2;
          width: ~"calc(100% - @{height})";
          height: @lineWidth;
          box-sizing: border-box;
          margin-left: @height/2;
          margin-right: @height/2;
          overflow: hidden;
          border-radius: @lineWidth;
        }

        .imx-slider-line {
          .imx-slider-line-common(@fadedLineColor, @fadedLineColorLighten);
          margin-top: ceil(@height/2 - @lineWidth/2);
          width: ~"calc(100% - @{height})";
        }

        .imx-slider-line-highlight {
          .imx-slider-line-common(@lineColor, @lineColor);
          position: absolute;
          margin-top: 0px;
          top: 0px;
          left: 0px;
          &.imx-animated {
            .animated(300ms);
          }
        }
      }
    }
  }
}