@import "parameters.less";

.imx-input {
  .imx-input-wrapper {
    input {
      font-family: @fontFamily;
      font-size: @fontSize;
      height: @inputSize;
      box-sizing: border-box;
      border: none;
      padding: 0 0 0 0;
      outline: none;
      color: #000000;
      width: 100%;
    }
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px @fadedColor solid;
  }
}