@import "parameters.less";
@import "functions.less";
@import "slider.less";
@import "sliderParameters.less";

@halfSize: floor(@inputSize * 0.80);
@halfFontSize: ceil(@fontSize * 0.80);

.imx-input {
  .animated(800ms);
  position: relative;
  float: left;
  width: 100%;
  background-color: @backgroundColor;
  
  .imx-placeholder-text {
    .animated(600ms);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: @fontFamily;
    height: @inputSize;
    color: @fadedColor;
    padding-top: 0px;
    font-size: @halfFontSize;
    pointer-events: none;
    width: 100%;
    span {
    }
    .imx-input-label {
      display: block;
    }
    .imx-input-placeholder {
      display: none;
    }
  }

  &.imx-empty {
    .imx-placeholder-text {
      padding-top: @halfSize + @inputTopPadding;
      font-size: @fontSize;
      .imx-input-label {
        display: none;
      }
      .imx-input-placeholder {
        display: block;
      }
    }
  }


  .imx-input-wrapper {
    .animated(300ms);
    input {
      font-family: @fontFamily;
      font-size: @fontSize;
      height: @inputSize;
      box-sizing: border-box;
      width: 100%;
      border: none;
      padding: 0 0 0 0;
      outline: none;
      color: @normalColor;
      background: none;
      margin: 0px 0px 0px 0px;
    }
    padding-top: @halfSize + @inputTopPadding;
    padding-bottom: 5px;
    &.imx-no-line {
      border-bottom: 1px @backgroundColor solid;
    }
    &:not(.imx-no-line) {
      border-bottom: 1px @fadedColor solid;
    }
  }


  .imx-selected-item {
    .animated(300ms);
    height: @inputSize;
    color: @normalColor;
    width: 100%;
    font-family: @fontFamily;
    font-size: @fontSize;
    cursor: pointer;
    box-sizing: border-box;
    text-overflow: ellipsis;
    .imx-select-arrow {
      .animated(800ms);
      float: right;
      color: @fadedColor;
      padding-right: 10px;
      padding-left: 10px;
      transform: rotate(180deg);
    }
  }

  .imx-option {
    .animated(300ms);
    color: @fadedColor;
    height: @inputSize + 10px;
    width: 100%;
    font-family: @fontFamily;
    font-size: @fontSize;
    box-sizing: border-box;
    cursor: pointer;
    text-overflow: ellipsis;
    padding: 5px @selectOptionPaddingRight 5px @selectOptionPaddingLeft;
    &:hover {
      color: @selectOptionColor;
    }
  }

  .imx-options {
    .animated(800ms);
    max-height: 0px;
    overflow: hidden;
    outline: none;
    &:hover {
      overflow: auto;
    }
  }

  &.imx-empty {
    .imx-placeholder-text {
      padding-top: @halfSize + @inputTopPadding;
      font-size: @fontSize;
      .imx-input-label {
        display: none;
      }
      .imx-input-placeholder {
        display: block;
      }
    }
  }

  &.imx-disabled {
    opacity: @disabledOpacity;
    pointer-events: none;
    .imx-selected-item {
      cursor: default;
      color: @fadedColor;
    }
  }

  &.imx-focus {
    .imx-placeholder-text {
      .animated(300ms);
      padding-top: 0px;
      font-size: @halfFontSize;
    }
    .imx-input-wrapper {
      &.imx-no-line {
        border-bottom: 2px @backgroundColor solid;
      }
      &:not(.imx-no-line) {
        border-bottom: 2px @highlightColor solid;
      }
    }
    .imx-placeholder-text {
      color: @highlightColor;
    }

    .imx-select-arrow {
      color: @highlightColor;
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }

    .imx-options {
      padding-top: 5px;
      max-height: @selectMaxVisibleItems * (@inputSize + 10px) + 5px;
    }

    &.imx-invalid {
      .imx-input-wrapper {
        &.imx-no-line {
          border-bottom: 2px @backgroundColor solid;
        }
        &:not(.imx-no-line) {
          border-bottom: 2px @errorColor solid;
        }
      }
      .imx-placeholder-text {
        color: @errorColor;
      }

      .imx-select-arrow {
        color: @errorColor;
      }
    }
  }

  &.imx-open {
    box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999;
    .imx-placeholder-text {
      padding-left: 10px;
    }
    .imx-selected-item {
      padding-left: 10px;
      padding-bottom: 5px;
    }
  }

}

.imx-input-main {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
  margin-top: @elementMarginTop;
  margin-bottom: @elementMarginBottom;
  overflow: visible;
  height: @inputSize + @halfSize + @inputTopPadding + 7px;
}

.imx-input-outer {
  overflow: visible;
  .imx-error {
    .animated(300ms);
    padding-top: 1px;
    font-family: @fontFamily;
    font-size: @halfFontSize;
    color: @fadedColor;
    position: relative;
    float: left;
    &.imx-show-error {
      color: @errorColor;
      padding-top: 0px;
    }
    &.imx-transparent {
      opacity: 0;
    }
  }
}

.imx-container {
  width: 300px;
}

.slider(@sliderLineColor, @sliderFadedLineColor, @sliderFadedLineColorLighten, @sliderButtonColor, @sliderButtonBorderColor, @sliderLineWidth, @sliderButtonLineWidth, @sliderHeight);